/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h3 {
  font-style: bold;
  padding-top: 4px;
  padding-left: 10px;
}

.bold {
  font-weight: bold;
}

form {
 
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

#qBox{
  margin: 50px 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#qCodeBox{
  background-color: #28a745;
  padding: 5px;
  width: 10%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#qCodeText{
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#qText{
  font-size: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

#cBox{
  margin: 50px 10px;
  margin-bottom: 80px;
  background-color: white;
  box-shadow: 1px 3px 11px 0px #e0e0e0;
}

.form-check{
  font-weight: 300;
  
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-check-input[type=radio]:checked+label, .form-check-input[type=radio]:not(:checked)+label, label.btn input[type=radio]:checked+label, label.btn input[type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form-check-input[type=radio]:not(:checked)+label:after, .form-check-input[type=radio]:not(:checked)+label:before, label.btn input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:before {
    border: 2px solid #5a5a5a;
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, .form-check-input[type=radio]:checked+label:before, .form-check-input[type=radio]:not(:checked)+label:after, .form-check-input[type=radio]:not(:checked)+label:before, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after, label.btn input[type=radio]:checked+label:before, label.btn input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-check-input[type=radio]+label:after, .form-check-input[type=radio]+label:before, label.btn input[type=radio]+label:after, label.btn input[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}

.form-check-input[type=radio]:not(:checked)+label:after, label.btn input[type=radio]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=radio]:checked+label:after, label.btn input[type=radio]:checked+label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after {
    background-color: #4aa24f;
}

.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after {
    border: 2px solid #4aa24f;
}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-check-input[type=checkbox]:checked+label, .form-check-input[type=checkbox]:not(:checked)+label, label.btn input[type=checkbox]:checked+label, label.btn input[type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form-check-input[type=checkbox]:not(:checked)+label:after, .form-check-input[type=checkbox]:not(:checked)+label:before, label.btn input[type=checkbox]:not(:checked)+label:after, label.btn input[type=checkbox]:not(:checked)+label:before {
    border: 2px solid #5a5a5a;
}

.form-check-input[type=checkbox].with-gap:checked+label:after, .form-check-input[type=checkbox].with-gap:checked+label:before, .form-check-input[type=checkbox]:checked+label:after, .form-check-input[type=checkbox]:checked+label:before, .form-check-input[type=checkbox]:not(:checked)+label:after, .form-check-input[type=checkbox]:not(:checked)+label:before, label.btn input[type=checkbox].with-gap:checked+label:after, label.btn input[type=checkbox].with-gap:checked+label:before, label.btn input[type=checkbox]:checked+label:after, label.btn input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:not(:checked)+label:after, label.btn input[type=checkbox]:not(:checked)+label:before {
    -webkit-border-radius: 50%;
    border-radius: 0%;
}

.form-check-input[type=checkbox]+label:after, .form-check-input[type=checkbox]+label:before, label.btn input[type=checkbox]+label:after, label.btn input[type=checkbox]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}

.form-check-input[type=checkbox]:not(:checked)+label:after, label.btn input[type=checkbox]:not(:checked)+label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=checkbox]:checked+label:after, label.btn input[type=checkbox]:checked+label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.form-check-input[type=checkbox].with-gap:checked+label:after, .form-check-input[type=checkbox]:checked+label:after, label.btn input[type=checkbox].with-gap:checked+label:after, label.btn input[type=checkbox]:checked+label:after {
    background-color: #4aa24f;
}

.form-check-input[type=checkbox].with-gap:checked+label:after, .form-check-input[type=checkbox].with-gap:checked+label:before, .form-check-input[type=checkbox]:checked+label:after, label.btn input[type=checkbox].with-gap:checked+label:after, label.btn input[type=checkbox].with-gap:checked+label:before, label.btn input[type=checkbox]:checked+label:after {
    border: 2px solid #4aa24f;
}

#navBtnCon{
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
    /* max-width: 640px; */
  z-index: 1;
  text-align: center;
  display: inline-flex;
}


#prevBtn{
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

#prevBtn:focus{
  box-shadow: 0 0 0 0.2rem rgb(74, 162, 79);
}

#passBtn{
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

#passBtn:focus{
  box-shadow: 0 0 0 0.2rem rgb(74, 162, 79);
}

#nextBtn{
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

#nextBtn:focus{
  box-shadow: 0 0 0 0.2rem rgb(74, 162, 79);
}

#finishBtn{
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

#finishBtn:focus{
  box-shadow: 0 0 0 0.2rem rgb(74, 162, 79);
}

.buttonContainer{
  border-style: solid;
  border-bottom-color: #d8d8d8;
  border-top-color: #f0f8ff00;
  border-left-color: #faebd700;
  border-right-color: #f0f8ff00;
  border-width: thin;
  padding: 5px;
}

#transitionTextCon{
  margin: 20px;
  height: 100%;
  margin-bottom: 100px;
}

#transitionTextCon h3{
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 15%;
}

#transitionText{
  text-align: center;
  color: white;
}

#endScreen{
  margin: 20px;
  margin-top: 30%;
  height: 100%;
}

#endScreen h1{
  text-align: center;
  color: white;
  margin-bottom: 10%;
}

#newRespondent{
  background-color: white;
  border-color: #4aa24f;
  color: #4aa24f;
  max-width: 300px;
  height: 60px;
  margin: auto;
}

#exit{
  background-color: white;
  border-color: #4aa24f;
  color: #4aa24f;
  max-width: 300px;
  height: 60px;
  margin: auto;
  margin-top: 2%;
}

#imgContainer img{
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {

  .vidPlayer{
    width: 660px;
    height: 415px;
  }

  #imgContainer img{
    width: 60%;
    height: 60%;
  }
}